@charset "utf-8";

@import './vars.scss';
/*路由跳转动画*/
.move-enter-active,
.move-leave-active {
  transition: opacity .5s;
}
.move-enter,
.move-leave {
  opacity: 0;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
input,textarea,select,option{
    -webkit-appearance         : none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#app{
    height: 100vh;
    width : 100vw;
}
a{
    color          : $color-primary;
    text-decoration: none;
}
.mainColor{
		color: $color-primary;
}
#Home{
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.wrapper{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/*main内容*/
.main{
    background        : #f4f4f4;
    position          : absolute;
    top               : 60px;
    left              : 225px;
    right             : 0;
    bottom            : 0;
    overflow-y        : auto;
    -webkit-transition: left .3s ease-in-out;
    -o-transition     : left .3s ease-in-out;
    transition        : left .3s ease-in-out;
    overflow-x: hidden;
}
.container{
    padding: 10px 10px 5px;
    //padding: 20px;
}
.pagination{
    margin-top: 10px;
}
/*标题*/
.container h2{
    margin: 10px 0;
}
/*设置边框角度和阴影*/
.container>div{
    background        : #fff;
    border-radius     : 10px;
    box-shadow        : 0 1px 3px rgba(26,26,26,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    padding: 10px 20px;
}
// *****HEADER 头部*****
header{
  display    : flex;
  position   : relative;
  width      : 100%;
  height     : 60px;
  box-shadow : 0px 5px 5px 0px rgba(6,0,1,0.07);
  line-height: 60px;
  font-size  : 22px;
  -webkit-transition: all .3s ;
  -moz-transition   : all .3s ;
  transition        : all .3s ;

}
.collapse-btn{
  float  : left;
  height : 100%;
  padding: 0 20px;
  cursor : pointer;
}
.top-nav{
  display         : flex;
  -webkit-box-flex: 1;
  flex            : 1;
  justify-content : flex-end;
}
.top-nav>div{
  cursor      : pointer;
  margin-right: 40px;
}
/*消息*/
.news{
  position: relative;
}
.msg{
  background-color: #d76662;
  border-radius   : 50%;
  position        : absolute;
  top             : 50%;
  right           : 0;
  height          : 8px;
  width           : 8px;
  margin-top      : -10px;
  margin-right    : -5px;
}
/*退出or设置*/
.head .el-dropdown{
  /*color: #fff;*/
  font-size: 20px;
}


/*****SIDEBAR左侧边栏*****/
#sidebar-left{
  display: inline-block;
  height : 100%;
}
#sidebar-left>ul{
  height: 100%;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width     : 225px;
  min-height: 400px;
}
.content-collapse{
  left: 64px;
}
.el-submenu__title i,.el-menu-item i{
  color: #fff;
}
.el-menu{
	background-color: #333;
}
.el-menu-item,.el-submenu__title{
	color: #fff;
}
.el-submenu .el-menu-item{
	text-indent: 2em;
}

.el-menu-item:hover, .el-menu-item:focus,
.el-submenu__title:hover, .el-submenu__title:focus{
	background-color: #424242;
}

/*重置element*/
.el-submenu__title,.el-menu-item{
	font-size: 16px;
}
.el-menu--inline .el-menu-item{
	font-size: 14px;
}

.addPoint .el-input--mini{
  font-size: 14px;
}
/*弹窗*/
.el-dialog__body{
	padding-bottom: 0;
}
.el-dialog--center .el-dialog__body{
	padding-top   : 10px;
	padding-bottom: 20px;
}

/*表格*/
.el-table thead{
	color: #707172;
}
.el-table th{
	background: #E2E2E2;
}

.el-button{
  font-size: 13px;
}
.el-button--text{
  font-size: 14px;
  padding: 3px 10px;
}
/*分页.表格*/
.pageWrap{
	margin-top     : 10px;
	display        : flex;
	justify-content: flex-end;
}

//rate
.el-rate{
  line-height: 2.1;
}
.el-rate__icon{
  font-size: 22px;
}

// 上传图片
//基本信息
.basicInfo{
  .picture-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .picture-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .picture-uploader-icon {
    font-size: 20px;
    color: #8c939d;
    width: 416px;
    height: 234px;
    line-height: 234px;
    text-align: center;
  }
  .postMarkIcon {
    width: 200px;
    height: 200px;
    line-height: 200px;
  }
  .picture {
    width: 416px;
    height: 234px;
    display: block;
  }
  .postmarkImg{
    width: 200px;
    height: auto;
    display: block;
  }
  .labelList{
    .el-tabs--card > .el-tabs__header .el-tabs__nav{
      border: none;
    }
    .el-tabs{
      background: #F2F2F2;
      .is-active{
        background: #d7d7d7;
        color: inherit
      }
      .el-tabs__nav{
        width: 100%;
        .el-tabs__item{
          display: inline-block;
          width: 50%;
        }
      }
      
    }
    .el-tabs__header{
        margin: 0;
    }
    .el-tabs__content{
      padding: 20px;
      border: 1px solid #e4e7ed;
      border-top: none;
    }
  }
}
//详细信息
.detailedInfo{
  .el-upload-list--picture-card .el-upload-list__item,.el-upload--picture-card{
    width: 256px;
    height: 144px;
  }
}

.previewInfo{
  .el-input.is-disabled .el-input__inner {
    background-color: #fff;
    border-color: transparent;
    color: inherit;
  }
  .el-select .el-input .el-select__caret{
    display: none;
  }
  .el-input--suffix .el-input__inner{
    padding-right: 10px;
    padding-left: 0;
  }
  .el-select .el-input.is-disabled .el-input__inner:hover{
    border-color: transparent;
  }
}

  